In [1]:
age =16
if age < 6:
    print("유딩")
elif age < 14:
    print("초딩")
elif age < 17:
    print("중딩")
elif age < 20:
    print("고딩")
else:
    print("성인")

중딩

In [2]:
fruits = ['사과','오렌지','멜론']

if '사과' in fruits: # 사과가 포함 되어 있는지 여부
    print('있음')
else:
    print('없음')

있음

In [3]:
fruits = ['사과','오렌지','멜론']

if '망고' not in fruits: # 사과가 포함 되어 있는지 여부
    print('없음')
else:
    print('있음')

없음

In [4]:
num = 10
if num > 5 and num < 20: pass

In [5]:
score = 60
result = '합격' if score >= 60 else '불합격' # 조건부 표현식

In [ ]:
total = 0
while True: # 무한 루프
    num = input("정수 입력:")
    try:
        total += int(num)  # 문자열 숫자 -> 정수 숫자
        print("합계:", total)
    except:
        print("정수 형식만 입력하세요.")

In [9]:
total = 0
num = 1

while num <= 100:
    if num == 50:
        break  # 반복 멈추기 
        
    if num % 2 == 0:
        num += 1
        continue  # 현재 반복을 중단하고 새로 반복 시작(반복 건너뛰기)
        
    total += num
    #num++ // 파이썬은 증가 감소 연산자 사용 불가!
    #++num
    num += 1

print("합계:", total)

합계: 625

In [10]:
fruits = [("사과", "apple"), ("오렌지", "orange"), ("멜론", "melon"), ("망고", "mango")]
for title, item in fruits:
    print(title, item)
    
# for (title, item) in fruits:
#    print(title, item)
    
#for item in fruits:
#    print(item)

사과 apple
오렌지 orange
멜론 melon
망고 mango

In [11]:
for item in "ABC":
    print(item)

A
B
C

In [12]:
# for i in range(10): # 0~9
#    print(i, "반복")

# for i in range(1, 11): # 1 ~ 10
#    print(i, "반복")

for i in range(1, 11, 2): # 1, 3, 5, 7, 9  
    print(i, "반복")

1 반복
3 반복
5 반복
7 반복
9 반복

In [13]:
# 구구단 출력 - 중첩된 for문 예

for i in range(2, 10): # 2~9
    print("----- %d단 ------" % i)
    for j in range(1, 10): # 1 ~ 9
        print(f"{i} X {j} = {i * j}")

----- 2단 ------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
----- 3단 ------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
----- 4단 ------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
----- 5단 ------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
----- 6단 ------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
----- 7단 ------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
----- 8단 ------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
----- 9단 ------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [14]:
nums = [22, 19, 2, 5, 77, 86, 25]
result = []
for i in nums:
    result.append(i * i)

print(result)

[484, 361, 4, 25, 5929, 7396, 625]

In [ ]:
nums = [22, 19, 2, 5, 77, 86, 25]
# result = [ i * i for i in nums]   # 리스트 컴프리헨션 문법!
result = [i * i for i in nums if i % 2 == 0] # 짝수만 제곱
print(result)

In [15]:
nums1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums2 = [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

# result = [i * j for i in nums1 
#                for j in nums2]
result = [i * j for i in nums1 if i % 2 == 0
             for j in nums2 if j % 2 == 1]
print(result)

[22, 66, 110, 154, 198, 44, 132, 220, 308, 396, 66, 198, 330, 462, 594, 88, 264, 440, 616, 792, 110, 330, 550, 770, 990]