In [1]:
person = {'name':'휴먼','age':13}

In [2]:
# person['name'] = '오크'
# person['address'] = '주소'
# del person['address']
person

{'name': '휴먼', 'age': 13}

In [3]:
person

{'name': '휴먼', 'age': 13}

In [4]:
person = {'name':'휴먼'}

In [5]:
# person ['age']
# person.get('age')
age = person.get('age',40) # 기본값 40
print(age)

40

In [6]:
person = {'name':'휴먼','age':15}

In [9]:
key = person.keys() # 키 목록 조회
values = person.values() # 값 목록 조회
print(key, values)

dict_keys(['name', 'age']) dict_values(['휴먼', 15])

In [12]:
values2= list(values)
print(values2)

['휴먼', 15]

In [14]:
items = person.items() # 키, 값 쌍
print(items)

dict_items([('name', '휴먼'), ('age', 15)])

In [19]:
for name, age in items:
    print(name, age)

name 휴먼
age 15

In [20]:
'name' in person

True